[submodule "external/enet"]
	path = external/enet
	url = https://github.com/lsalzman/enet.git
[submodule "external/raylib"]
	path = external/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "external/rl_imgui"]
	path = external/rl_imgui
	url = https://github.com/raylib-extras/rlImGui.git
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
