[submodule "external/enet"]
	path = external/enet
	url = https://github.com/lsalzman/enet.git
[submodule "external/raylib"]
	path = external/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "external/netem"]
	path = external/netem
	url = https://github.com/tum-lkn/tcgui.git
[submodule "external/sphysics"]
	path = external/sphysics
	url = https://github.com/KBOX1234/sphysics.git
[submodule "external/rl_imgui"]
	path = external/rl_imgui
	url = https://github.com/raylib-extras/rlImGui.git
[submodule "external/easy_profiler"]
	path = external/easy_profiler
	url = https://github.com/yse/easy_profiler.git
[submodule "external/soloud"]
	path = external/soloud
	url = https://github.com/jarikomppa/soloud.git
